#wrapper{
	margin: 0 auto;
	margin-top: 2em;
	width: 70%;
	height: 75%;
	min-width: 800px;
}
h1:first-child{
	color: #a52b60;
	text-align: center;
}


#month {
	width: 100%;
	height: 6%;
	text-align: center;
	font-size: 1.4em;
	font-family: sans-serif;
	background-color: #ef0b00;
	color: #e0e0e0;

	
}


div.contentCell, div.weekCell, div.doneCell{
	float: left;
	width: 14.139%;
	border-left: 1px solid black;
	position: relative;
}
div.contentCell, div.doneCell{
	border-top: 1px solid black;
	cursor: pointer;
	height: 15.9%;
	text-align: right;
}
div.doneCell{
	background-color: red;
}
div.contentCell:hover{
	background-color: #f4f4f4;
}
div.contentCell:nth-child(1n+29){
	border-bottom: 1px solid black; 
}
div.contentCell:nth-child(7n+0){
	border-right: 1px solid black;
}
.contentCell:hover{
	background-color: #f2e8e8;
}


div.weekCell{
	height: 10%;
	text-align: center;
	border-bottom: none; 
}
div.weekCell:nth-child(0n+8){
	border-right: 1px solid black;
	color:red;
}
div.weekCell:nth-child(0n+2){
	color:red;
}
